@import "tailwindcss";

@theme {
    --color-back: #11120d;
    --color-blue-text: #4096ff;
    --color-blue-hover: #e5f3ff;
    --color-blue: #1e6ceb;
    --color-gray-text: #858592;
    --color-dark-gray-text: #7b7c80;
    --color-gray-line: #d9d9d9;
    --color-gray-hover: #efefef;
    --color-background: #f2f5f9;
}